/* ------------------------
          Home
------------------------ */

a {
    color: #00b2a9;
}

a.light {
    color: #FFDDDD;
}

.header {
    background : #00b2a9;
    color: white;
    position: relative;
    overflow: auto;
}

.uploads {
  margin: 40px 0 20px;
}

.uploads a {
  margin: 0 5px;
}

.logo {
    max-width: 100px;
    padding: 25px;
    float: left;
}

.logo img {
    width: 100%;
}

.title {
    padding-top: 15px;
}

.title a {
  color: #fff;
  text-decoration: none;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

#success {
  border-left: 4px solid #3c763d;
  padding: 10px;
}

.logged {
    margin-top: -35px;
}

.subtitle {
    margin: -7px 0 15px;
    text-indent: 11px;
}


#form {
  margin: 0 0 20px;
}

#form .btn {
    margin: 0 10px;
}

.delete {
  margin-right: 10px;
}

#form textarea {
  padding: 10px;
    height: 200px;
}

.Custom55Tab .secondaryPalette, .individualPalette .Custom55Block .secondaryPalette {
    background-color: #fff !important;
    border-color: #fff;
}

.tags {
    width: 100
}

.actions-col {
  width: 100px;
}

/* ------------------------
          Home
------------------------ */


body.home {
  background: #00b2a9;
  color: #ffffff;
}

.wrapper {
  text-align: center;
  margin-top: 40px;
}

.wrapper.mobile {
  margin-top: 20px;
}

.wrapper.mobile img {
  padding: 30px 0 20px;
}

.kw-logo {
  width: 90%;
  margin: 20px 0 30px;
}

.subtitle {
  font-size: 16px;
}

#wrongorg {
  margin-bottom: 10px;
}

.actions {
  margin-top: 40px;
  margin-bottom: 20px;
}

.info {
  font-size: 12px;
  color: #bbbbbb;
}

.btn.mobile {
  padding: 10px 20px;
}

.login-wrapper {
  margin-bottom: 15px;
}

.login-wrapper a {
  font-size: 14px;
  padding: 10px 15px;
}

.submit-invite input {
  margin-bottom: 10px;
}

/*LOADING ANIMATION*/

#loading {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

@keyframes hexagon {
  0% { transform:rotate(90deg); }
  10% { transform:rotate(90deg); }
  30% { transform:rotate(-90deg);}
  60% { transform:rotate(-90deg);}
  80% { transform:rotate(90deg);}
  100% { transform:rotate(90deg);}
}

@keyframes zoom {
  0% { transform:scale(1); }
  80% { transform:scale(1); }
  90% { transform:scale(1.2); }
  100% { transform:scale(1); }
}

.loadingWrapper {
  width: 100px;
  height: 100px;
  animation:zoom ease-in-out 2s infinite;
}

.loadingHexagon, .loadingHexagon:before, .loadingHexagon:after {
  background:#00b2a9;
}

.white, .white:before, .white:after {
  background:#fff ;
}

.loadingHexagon, .loadingHexagon:before, .loadingHexagon:after {
  display:block;
  position:absolute;
  width:33px;
  height:58px;
  border:1px solid transparent;
  padding:0;
}
.loadingHexagon {
  animation:hexagon ease-in-out 2s infinite;
  transform:rotate(90deg);
  left:0;
  top:0;
  bottom:0;
  right:0;
  margin:auto;
}
.loadingHexagon:before {
  margin:-1px 0 0 -1px;
  width:33px;
  height:58px;
  content:'';
  transform:rotate(-60deg);
}
.loadingHexagon:after {
  margin:-1px 0 0 -1px;
  width:33px;
  height:58px;
  content:'';
  transform:rotate(60deg);
}

/* =====================================================
   Some defaults across all toggle demos
   ===================================================== */
.toggle {
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 5px;
  user-select: none;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  margin: 0 auto;
  font-size: 1em;
  transition: all 350ms ease-in;
}
.toggle--btn:hover {
  cursor: pointer;
}

.toggle--btn, .toggle--btn:before, .toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature,
.toggle--feature:before,
.toggle--feature:after {
  transition: all 250ms ease-in;
}
.toggle--btn:before, .toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature:before,
.toggle--feature:after {
  content: '';
  display: block;
}

/* =====================================================
   Toggle - knob button style
   ===================================================== */
.toggle--knob .toggle--btn {
  position: relative;
  width: 80px;
  height: 20px;
  font-family: 'PT Sans', Sans Serif;
  text-transform: uppercase;
  color: #fff;
  background: #00b2a9;
  box-shadow: inset 0 20px 40px -10px #7b9d25;
  border-radius: 40px;
}
.toggle--knob .toggle--btn:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f1f1f1;
  box-shadow: 0 4px 10px 0 #999, inset 0 10px 10px 8px rgba(241, 241, 241, 0.6), inset 0 0 8px 0px #333, inset 0 0 0 13px #ccc, inset 0 0 0 14px #f1f1f1;
  text-indent: -100%;
}
.toggle--knob .toggle--feature {
  position: relative;
  display: block;
  overflow: hidden;
  height: 20px;
  text-shadow: 0 1px 2px #666;
}
.toggle--knob .toggle--feature:before, .toggle--knob .toggle--feature:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.toggle--knob .toggle--feature:before {
  content: attr(data-label-on);
  left: 20%;
}
.toggle--knob .toggle--feature:after {
  content: attr(data-label-off);
  right: -60%;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn {
  background: #a2a2a2;
  box-shadow: inset 0 20px 40px -10px #7e7e7e;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn:before {
  left: 0;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn .toggle--feature:before {
  left: -60%;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn .toggle--feature:after {
  right: 10%;
}
